* {
	margin: 0;
	padding: 0;
}

.container {
	width: 80%;
	height: 620px;
	margin: 10px auto;
}

.buttons {
	text-align: center;
}
button {
	padding: 20px;
	margin-top: 20px;
	margin-left: 10px;
	background-color: aqua;
	border-radius: 50%;
	border: none;
	transition: all 0.7s;
}

button:hover {
	cursor: pointer;
	background-color: rgb(15, 49, 49);
	box-shadow: 10px 10px 20px rgb(5, 70, 78);
	color: aqua;
}

#box {
	width: 150px;
	height: 150px;
	background-color: #000;
	top: 50px;
	left: 5%;
	position: relative;
}

.start {
	animation: move 3s infinite;
}

.pause {
	animation-play-state: paused;
	transform: scale(1.2);
}

@keyframes move {
	0% {
		top: 50px;
		left: 5%;
	}
	25% {
		top: 50px;
		left: 85%;
		background-color: greenyellow;
	}
	50% {
		top: 350px;
		left: 85%;
		background-color: rgb(34, 143, 232);
	}
	75% {
		top: 350px;
		left: 5%;
		background-color: rgb(255, 222, 11);
	}
	98% {
		top: 50px;
		left: 5%;
	}
}
